body{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
.login-container{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url("../img/29.png");
}
.login-inputs{
	position: absolute;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login-inputs h1{
	color: #fff;
	font-size: 3rem;
	letter-spacing: 3px;
	margin: 10px;
	text-transform: uppercase;
	text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.login-inputs form{
	background-color:#1B46F6;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius:10px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;  
}
.login-inputs form input{
	margin:10px;
	width: 250px;
	height: 30px;
	background-color: #fff;
	border-radius: 10px;
	border: none;
	color: #000;
	padding: 5px 10px;
	outline: none;
}
.login-inputs form input::placeholder{
	color:#727383; 
}
.login-inputs form button{
	text-transform: uppercase;
	width: 110px;
	height: 35px;
	border-radius: 20px;
	border:none;
	outline: none;
	margin: 5px;
	font-weight: 600;
	cursor: pointer;
	font-family: poppins;
	letter-spacing: 1px;

}
.forget{
	color: #B0C2BB;
	margin: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	border-bottom: 1px solid #62627d;
}
.login-inputs form input::hover{
	background-color: rgba(125,49,247);
	transition: all ease 0.3s;
}